.navbar{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.navbar a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover{
    color: red;
    background-color: white;
}

body{
    background-color: whitesmoke;
}